/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
div#custom-container {
    max-width: 80%;
    margin: 2% 10%;
}

.btn-outline-secondary {
    color: black;
    border-color: black;
}